.hero {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-bottom: 90px;
  &__content {
    position: relative;
    z-index: 2;
  }
  &__charts {
  }
  h1 {
    color: $DarkBlue;
    margin-top: 40px;
    margin-bottom: 1rem;
  }
  p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 2rem;
  }
  .finger-shap {
    top: unset;
    bottom: 0;
  }

  // DESKTOP STYLES
  @media (min-width: 900px) {
    &__content {
      display: flex;
      .hero__charts,
      .hero__intro {
        flex: 0 0 50%;
      }
      .hero__charts {
        order: 2;
      }
      .hero__intro {
        order: 1;
        text-align: left;
      }
    }
  }
}
