*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
}

.finger-shap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #242d52;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 1rem;
}

p {
  color: #000;
  opacity: 0.7;
  line-height: 1.8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container.container--px {
  padding-left: 15px;
  padding-right: 15px;
}

.container.container--pl {
  padding-left: 15px;
}

.btn {
  padding: 18px 33px;
  background-color: #f25f3a;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  -webkit-box-shadow: #f25f3a 0 5px 10px;
          box-shadow: #f25f3a 0 5px 10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: #f25f3a 0 10px 20px;
          box-shadow: #f25f3a 0 10px 20px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.badge {
  background-color: #f25f3a;
  color: #fff;
  font-size: 1rem;
  padding: 12px 30px;
  border-radius: 32px;
  font-weight: 700;
  margin-right: 1rem;
}

.header {
  padding-top: 23px;
  padding-bottom: 23px;
  position: relative;
  z-index: 3;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav ul {
  font-size: 14px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 40px 0;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  width: 80%;
  border-radius: 20px;
}

.header__nav ul.open {
  visibility: visible;
  opacity: 1;
}

.header__nav ul a {
  color: #242d52;
}

.header__nav ul li:not(:last-child) {
  padding-bottom: 35px;
}

.header__nav__toggler div {
  width: 27px;
  height: 5px;
  background-color: #242d52;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.header__nav__toggler div:not(:last-child) {
  margin-bottom: 3px;
}

.header__nav__toggler.open div:first-child {
  -webkit-transform-origin: 14% 130%;
          transform-origin: 14% 130%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__nav__toggler.open div:nth-child(2) {
  display: none;
}

.header__nav__toggler.open div:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay {
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(transparent, black);
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.overlay.open {
  visibility: visible;
  opacity: 0.8;
}

.hero {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-bottom: 90px;
}

.hero__content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 40px;
  color: #242d52;
  margin-top: 40px;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.hero .finger-shap {
  top: unset;
  bottom: 0;
}

.features {
  padding-bottom: 70px;
}

.features__intro {
  text-align: center;
  padding-right: 15px;
}

.features__boxes .box__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffefeb;
}
/*# sourceMappingURL=style.css.map */